html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px }

.navbar {
    margin-bottom: 0;
}

#map {
    display: block;
    width: 100%;
    height: 92%;
}

/* this is for strange maps render problem */
/* http://stackoverflow.com/questions/8273041/marker-infowindow-and-shadow-not-rendering-correctly-in-google-maps-javascript */
img { max-width: inherit; }

.spacer5 {
    margin-left: 5px;
}

.transparent {
    zoom: 1;
    filter: alpha(opacity=95);
    opacity: 0.95;
}

.infoWindow {
    background-color: #fafafa;
    border: 1px solid #d4d4d4;
    padding: 25px;
    min-with: 300px;


    background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
    *zoom: 1;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}
