html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px; }

body > .container-fluid {
    height: 95%;
    margin: 0px; padding: 0px;
}

body > .container-fluid > .row-fluid {
    height: 100%;
    margin: 0px; padding: 0px;
}

.btn-toolbar, .btn-group {
    font-size: 100%;
}

.navbar {
    margin-bottom: 0;
}
/*
#secondNavbar .nav>li>a {
    padding: 0px 15px 6px;
} */


#map {
    display: block;
    height: 100%;
    margin: 0px;
}

#slidepanel {
    display: none;
    height: 100%;
    overflow: auto;
}

.input-append {
    max-height: 30px;
    margin: 0px;
    margin-top: 0px;
}

.navbar-form .input-append, .navbar-form .input-prepend {
    margin-top: 0px;
    white-space: nowrap;
}

.navbar-form {
    padding: 0px;
}

/* this is for strange maps render problem */
/* http://stackoverflow.com/questions/8273041/marker-infowindow-and-shadow-not-rendering-correctly-in-google-maps-javascript */
img { max-width: inherit; }

body .modalProfile {
    width: 60%; /* desired relative width */
    left: 20%; /* (100%-width)/2 */
    min-width: 560px;
    /* place center */
    margin-left:auto;
    margin-right:auto;
}

hr {
    margin-bottom: 10px;
    margin-top: 7px;
}

.label a {
    color: #be0005;
}

.rightspacer3 {
    margin-right: 3px;
}

.spacer3 {
    margin-left: 3px;
}

.spacer5 {
    margin-left: 5px;
}

.spacer10 {
    margin-left: 10px;
}

.spacer28 {
    margin-left: 28px;
}

.addMarker {
    margin-top: 25px;
}

.transparent {
    zoom: 1;
    filter: alpha(opacity=95);
    opacity: 0.95;
}

.transparent {
    zoom: 1;
    filter: alpha(opacity=90);
    opacity: 0.90;
}

.scrollable {
    height: 600px;
    max-height: 800px;
    overflow: auto;
}

.blackLabel {
    color: #fafafa;
}

.centerForm {
    width: 460px;
    max-width: 460px;
    margin: 0 auto;
}

.searchInput {
    min-height: 30px;
}

.textArticle {
    font-size: 13pt;
    background-color: #fafafa;
}

.textBlock {
    margin-bottom: 3%;
}

.texBottom {
    margin-bottom: 8%;
}

.container100 {
    height: 95%;
}

.favLink {
    color: #be0005;
    cursor: pointer;
}

.favLink:hover {
    text-decoration: none;
    color: #be0005;
}

@media screen and (max-width: 940px)  {
    #footer {
        display: none;
    }
}

.facebookImage {
    background-image: url(images/facebook_login.png);
    width: 170px;
    height: 28px;
    background-size: contain;
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;
}

.foursquareImage {
    background-image: url(images/foursquare_login.png);
    width: 183px;
    height: 28px;
    background-size: contain;
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;
}

.twitterImage {
    background-image: url(images/twitter_login.png);
    width: 158px;
    height: 28px;
    background-size: contain;
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;
}

.vkImage {
    background-image: url(images/vk_login.png);
    width: 93px;
    height: 28px;
    background-size: contain;
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;
}

.modal {
    min-width: 700px;
}

.noty_text a {
    color: #000000;
}



.infoWindow {
    background-color: #fafafa;
    border: 1px solid #d4d4d4;
    min-with: 510px;

    background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
    *zoom: 1;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.infoWindowInner {
    padding: 25px;
}

#restorePasswordForm, #emailConnectForm {
    margin-top: 50px;
    padding: 10px;
}

#routeForm .control-group {
    margin-bottom: 10px;
}

#routeFormDiv, #searchBarDiv, #infoBar {
    margin-top: 10px;
}

#infoBar {
    max-width: 300px;
    margin-right: 25px;
}

#infoBar p {
    margin-bottom: 0px;
}

#infoBar p label {
    font: normal 13px Sans-Serif;
}

#searchBarForm {
    margin: 0;
}

.infoBarLabel {
    min-width: 150px;
    margin-left: 10px;
    padding: 0px;
    float: left;
}

.infoWindowForm {
    padding: 10px;
}

#routeFormDiv .close {
    margin-top: 5px;
    margin-right: 10px;
}

.arrow_box {
    position: relative;
    background: #fafafa;
    border: 1px solid #d4d4d4;
}
.arrow_box:after, .arrow_box:before {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(250, 250, 250, 0);
    border-right-color: #fafafa;
    border-width: 30px;
    top: 50%;
    margin-top: -30px;
}
.arrow_box:before {
    border-color: rgba(212, 212, 212, 0);
    border-right-color: #d4d4d4;
    border-width: 31px;
    top: 50%;
    margin-top: -31px;
}

.ribbon-outer
{
    width:105px;
    height:108px;
    overflow:hidden;
    position:absolute;
    top: -3px;
    left: -3px;
}
.ribbon-inner
{
    font: bold 18px Sans-Serif;
    background: rgb(237, 87, 63); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(237, 87, 63) 0%, rgb(158, 15, 5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(237, 87, 63)), color-stop(100%, rgb(158, 15, 5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(237, 87, 63) 0%, rgb(158, 15, 5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(237, 87, 63) 0%, rgb(158, 15, 5) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(237, 87, 63) 0%, rgb(158, 15, 5) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgb(237, 87, 63) 0%, rgb(158, 15, 5) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ); /* IE6-9 */
    text-align:center;
    color:#FFFFFF;
    top:25px;
    left:-48px;
    width:170px;
    padding:5px;
    position:relative;
    -webkit-transform: rotate(-45deg);
}

.ribbon-inner a {
    font: bold 15px Sans-Serif;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 0 0.5em #444;
    text-decoration: none;
    text-align: center;
}

.ribbon-inner:before, .ribbon-inner:after {
    content: "";
    border-top:   3px solid #800f05;
    border-left:  3px solid transparent;
    border-right: 3px solid transparent;
    position:absolute;
    bottom: 3px;
}

.ribbon-inner:before {
    left: 0;
}
.ribbon-inner:after {
    right: 0;
}

.errorBody {
    color: #ffffff;
    background: #b37623;
    background: -webkit-radial-gradient(#cd7785 0%, #551350 100%);
    background: -moz-radial-gradient(#cd7785 0%, #551350 100%);
    background: -ms-radial-gradient(#cd7785 0%, #551350 100%);
    background: -o-radial-gradient(center, ellipse cover, #cd7785 0%, #551350 100%);
    background: radial-gradient(center, ellipse cover, #cd7785 0%, #551350 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cd7785', endColorstr='#551350',GradientType=1 );
    background-repeat: no-repeat;
    background-attachment: fixed;
    *background-image: none;
    height: 95%;
}

.errorBody h1 {
    margin-top: 8%;
}